body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top right, #111, #444);
  color: white;
  text-align: center;
  padding-top: 40px;
}

img {
  border: 3px solid white;
}

h1 {
  margin-top: 15px;
}

p {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  line-height: 24px;
}

button {
  padding: 12px 25px;
  margin-top: 20px;
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}